.each-pokemon {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
 }
 .each-pokemon header{
    display: flex;
    align-items: center;
    gap: 4px
 }
 .each-pokemon header div {
    display: flex;
    flex-direction: column;
 }
 .each-pokemon header span {
    opacity: .6;
 }
 .each-pokemon img {
    width: 90px;
    height: 90px;
    border-radius: 1000px;
 }
 .each-pokemon button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
 }
 .select-button {
 cursor:pointer;
 margin-left: 16px;
 border: 0;
 border-radius: 999px;
 padding: 6px 16px;
 font-weight: bold;
 border: 1px solid #000;
 transition: .3s ease background-color;
 }
 .select-button-inTeam {
 border: 1px solid red;
 }
 .select-button:hover{
 background-color: #a883ff;
 }
 .select-button-inTeam:hover 
 .eliminar-equipo{
 display: block;
 }
 .select-button-inTeam:hover 
 .texto-boton{
 display: none;
 }
 .select-button-inTeam:hover {
    background-color: red;
 }
 .eliminar-equipo{
    display: none;
 }
 .texto-boton{
    display: block;
 }
