@font-face {
    font-family: 'pixel';
    src: url(../recursos/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

.pokemonInTeam{
    background-image: linear-gradient(-40deg, 
        transparent 0%,
        #ffffff 0% 50%,
        #000000 0% 55%,
        #ff0000 0% 90%,
        transparent 1% 100%);
    width: 300px;
    height: 150px;
    border-radius: 4px 4px;
    margin: 20px;
}
.separador{
    height: 80px;
}
.pokemonName{
    margin-left: 20px;
    text-align: right;
    width: 70%;
    font-family: 'pixel';
    font-size: 20px;
}